DATABASE_URL=postgresql://TU_USUARIO:TU_PASSWORD@TU_HOST/TU_DB?sslmode=require
ADMIN_USER=ivan
ADMIN_PASSWORD=CAMBIAR_ESTA_CONTRASENA
SESSION_SECRET=CAMBIAR_POR_UNA_CLAVE_LARGA_Y_ALEATORIA
NODE_ENV=development
